<div class="modall modall-request">
    <div class="modall-body">
        <form class="form">
            <span class="close"></span>
            <h4>
                Оставить заявку
            </h4>
            <img src="../img/popup-img.png" alt="">
            <div class="form-row">
                <div class="form-column">
                    <span class="eror">!</span>
                    <!-- за включение текста ошибки отвечает класс .active -->
                    <input required type="text" placeholder="Ваше имя">
                </div>
                <div class="form-column">
                    <span class="eror ">!</span>
                    <!-- за включение текста ошибки отвечает класс .active -->
                    <input required type="tel" class="only_number phone_mask" pattern="^[0-9-+s()]*$" name="tel"
                        placeholder="Телефон">
                </div>
            </div>
            <div class="form-action">
                <button class="btn reply">Отправить<i class="icon-left-arrow"></i></button>
            </div>
        </form>
    </div>
</div>


<div class="modall modall-reply">
    <div class="modall-body">
        <span class="close"></span>
        <div class="content">
            <h4>Благодарим
                за вашу заявку!</h4>
            <p>Менеджер свяжется
                с Вами в ближайшее
                время</p>
        </div>
    </div>
</div>

<div class="modall modall-card">
    <div class="modall-body">
        <div class="content">
            <span class="close"></span>
            <img src="../img/popup.jpg" alt="">
            <div class="section-content">
                <div class="title">
                    <h2>Корпорация
                        Карен</h2>
                </div>
                <div class="item-details">
                    <span>ЗАДАЧА</span>
                    <p>
                        Корпорация Карен – один из старейших девелоперов на рынке коммерческой недвижимости Москвы. На
                        сегодняшний день компания владеет и управляет большим количеством объектов торговли и услуг в
                        Москве. Среди них многофункциональные торговые центы Окружного и Районного масштаба, офисные
                        здания высокого класса, рестораны и гостиницы.
                    </p>
                    <span>РЕШЕНИЕ</span>
                    <p>
                        По рекомендации нашего менеджера в «Карен» обратили внимание на коллекцию New Inter. Строгость
                        линий и массивность форм мебели этой коллекции выражена в шпоне ценного орехового дерева и
                        украшена изящной лицевой фурнитурой. Массивный шкаф со стеклянными дверцами отвечает за хранение
                        всего необходимого для работы двух секретарей.
                    </p>
                </div>
            </div>
            <div class="action">
                <a href="#" class="btn request">Оставить заявку <i class="icon-left-arrow"></i></a>
            </div>
        </div>
    </div>
</div>